/*	Swipe Slider */

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
	text-align: center;
}

#slider{
	max-width:500px;
	margin:0 auto
}

.slider-pagination{
	text-align: center;
	padding-top: 20px;
}